{% load i18n %}
{% load bootstrap %}
{% load pinax_messages_tags %}
{% block head_title %}Messages{% endblock %}
​
{% load staticfiles %}
{% load static %}
{% load notification_tags %}
{%load index%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5
         elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the
         page via file:// -->

      <!--[if lt IE 9]>
      <script src = "//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!-- inclusion of extra head tags. -->
    {% block extrahead %}
        {% include_notify_js_variables %}
    {% endblock %}
    <!-- end -->
</head>
<body class="w3-theme-l5" onload="renderDate()">

<!-- navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large w3-padding-12">
    <a href="{% url 'view_profile' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="My Profile">
      <img src="{{ request.user.profile_pic.url }}" class="w3-circle" style="height:31px;width:35px" alt="Avatar">  My Profile</a>
      <a href="{% url 'profile_page' %}" class="w3-bar-item w3-button w3-padding-large w3-display-top"  title="Home"><i class="fa fa-home" ></i></a>
      <a href="{% url 'pinax_messages:inbox' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Messages"><i class="fa fa-envelope"></i></a>
      <a href="{% url 'events' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Events"><i class="fa fa-calendar"></i></a>
              <a href="{% url 'news' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="News"><i class="fa fa-book"></i></a>
              <a href="{% url 'friends' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Friends"><i class="fa fa-users"></i></a>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-blue">{{ user.notifications.unread.count }}</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:500px">

          <div class="notificationContent" style="overflow-y: scroll; height: 100%;">
                                              <ul class="notification-box-list" style="margin:0; padding:0;list-style-type: none;">
                                                  {% render_notifications using user.notifications.active.prefetch for box %}
                                                  <li style="background-color: #ddd; padding: 5px; text-align: center;">
                                                      <a href="#" style="color: black;">All Notifications</a>
                                                  </li>
                                              </ul>
                                          </div>

        </div>
      </div>



        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="Logout"><i class="fa fa-sign-out"></i></a>

        {% endif %}
        <a href="{%url 'profile_settings'%}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="settings"><i class="fa fa-user"></i></a>

        <a href="{% url 'search'%}" class="w3-bar-item w3-button w3-right w3-padding-large w3-display-top"  title="search"><i class="fa fa-search"></i></a>

      </div>
    </div>

<!-- end navbar -->
  <br>
  <br>
​
{% block body %}
<div class="pinax-messages-inbox-container">
    <h2 class="with-actions">
        Inbox
        <a class="button" href="{% url "pinax_messages:message_create" %}">
            <i class="fas fa-envelope"></i>
            New Message
        </a>
    </h2>

    <section class="mailbox">
        {% for thread in threads %}
            <div class="thread {% if thread|unread:user %}unread{% endif %}">
                <a href="{{thread.get_absolute_url}}">
                    <div class="participants">{{ thread.users.all|join:", " }}</div>
                    <div class="latest-message">
                        <p class="subject">{{ thread.subject }}</p>
                        <p class="content">{{ thread.latest_message.content }}</p>
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="no-messages">You have no messages.</div>
        {% endfor %}
    </section>
</div>
{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src ="{% static 'notify/notifyX.js' %}"></script>
</body>
</html>
