{% load staticfiles %}
{% load static %}
{% load notification_tags %}
{%load index%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5
         elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the
         page via file:// -->

      <!--[if lt IE 9]>
      <script src = "//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!-- inclusion of extra head tags. -->
    {% block extrahead %}
        {% include_notify_js_variables %}
    {% endblock %}
    <!-- end -->
</head>
<body class="w3-theme-l5" onload="renderDate()">

<!-- navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large w3-padding-12">
    <a href="{% url 'view_profile' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="My Profile">
      <img src="{{ request.user.profile_pic.url }}" class="w3-circle" style="height:31px;width:35px" alt="Avatar">  My Profile</a>
      <a href="{% url 'profile_page' %}" class="w3-bar-item w3-button w3-padding-large w3-display-top"  title="Home"><i class="fa fa-home" ></i></a>
      <a href="{% url 'pinax_messages:inbox' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Messages"><i class="fa fa-envelope"></i></a>
      <a href="{% url 'events' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Events"><i class="fa fa-calendar"></i></a>
              <a href="{% url 'news' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="News"><i class="fa fa-book"></i></a>
              <a href="{% url 'friends' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Friends"><i class="fa fa-users"></i></a>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-blue">{{ user.notifications.unread.count }}</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:500px">

          <div class="notificationContent" style="overflow-y: scroll; height: 100%;">
                                              <ul class="notification-box-list" style="margin:0; padding:0;list-style-type: none;">
                                                  {% render_notifications using user.notifications.active.prefetch for box %}
                                                  <li style="background-color: #ddd; padding: 5px; text-align: center;">
                                                      <a href="#" style="color: black;">All Notifications</a>
                                                  </li>
                                              </ul>
                                          </div>

        </div>
      </div>



        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="Logout"><i class="fa fa-sign-out"></i></a>

        {% endif %}
        <a href="{%url 'profile_settings'%}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="settings"><i class="fa fa-user"></i></a>

        <a href="{% url 'search'%}" class="w3-bar-item w3-button w3-right w3-padding-large w3-display-top"  title="search"><i class="fa fa-search"></i></a>

      </div>
    </div>

<!-- end navbar -->

<br><br><br><br>

<div class="container">

<div class="article post-content blog-body post_content content section">
<div class="wv-button-placeholder"></div>
  <h3>Shanghai Museum</h3>
  <p>The Shanghai Museum is a museum of ancient Chinese art, situated on the People's Square in the Huangpu District of Shanghai, China. Rebuilt at its current location in 1996, it is considered one of China's first world-class modern museums</p>
  <br>
  <h4>History</h4>
  <p>The museum was founded in 1952 and was first open to the public in the former Shanghai Racecourse club house, now at 325 West Nanjing Road.[6] The founding collections came principally from three sources: a batch of artifacts gathered by the Communist 3rd Field Army during the civil war from accidental finds and confiscations of private property and brought to Shanghai upon the Communists' conquest of the city; artifacts confiscated by the customs service; items sold by private collectors due to political pressure during political purges and purchased by the government. The former Shanghai Municipal Museum was also merged into the new Shanghai Museum.

In the next few years, the museum's collections were further enriched from other private and institutional collections in Shanghai, including the collection of the former Shanghai Museum of the Royal Asiatic Society, which were moved to the museum as "foreign" institutions gradually left the city in the 1950s. In 1959 the museum moved into the Zhonghui Building at 16 South Henan Road, which housed insurance companies and bank offices.[1][2] During the metal-gathering campaign of the Great Leap Forward, the Shanghai Museum participated in rescuing bronzeware from metal that had been confiscated or donated and were sent to be melted down. Before the Cultural Revolution, a tradition formed whereby Shanghai's wealthy collectors would make annual donations to the museum.

The museum's work largely halted as a result of the Cultural Revolution. After the end of the revolution, as one of China's most important museums, the collections have continued to be enriched with the fruit of donations, government purchases, and important finds from archaeological excavations.

The growth of its collections put enormous pressure on the cramped premises. For his role in ensuring a large, purpose-built home, it is said that Shanghai Museum owes much of its current existence to Ma Chengyuan, its director from 1985 until his retirement in 1999. When a new museum was omitted from Shanghai's five-year reconstruction plan in 1992, Ma lobbied Mayor Huang Ju for its rebuilding. After seeing the dilapidated rooms of the Zhonghui Building, Huang agreed to allocate a prime site on the People's Square, but the museum had to raise its own building funds.[5][7] Ma raised US$25 million by leasing the old building to a Hong Kong developer. He also made many trips abroad to solicit donations, mainly from the Shanghai diaspora who had fled to Hong Kong after the Communist revolution, raising another $10 million. The money still ran short, but he eventually won another 140 million yuan from the city government to complete the building.[5]</p>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script id="free_accessibility_plugin_script" src="https://accessibility.f-static.com/site/free-accessibility-plugin/accessibility.min.js?lan=en&place=bottom-right&distance=50" crossorigin="anonymous"></script>
<script async src="https://widget.websitevoice.com/IwjsEyoQZAsokQXVUyDK1Q"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', 'IwjsEyoQZAsokQXVUyDK1Q');
  wvtag('widget-style', {
    backgroundColor: '#6D6D6D',

  });
</script>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src ="{% static 'notify/notifyX.js' %}"></script>
</body>
</html>
