{% load staticfiles %}
{% load static %}
{% load notification_tags %}
{%load index%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5
         elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the
         page via file:// -->

      <!--[if lt IE 9]>
      <script src = "//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!-- inclusion of extra head tags. -->
    {% block extrahead %}
        {% include_notify_js_variables %}
    {% endblock %}
    <!-- end -->
</head>
<body class="w3-theme-l5" onload="renderDate()">

<!-- navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large w3-padding-12">
    <a href="{% url 'view_profile' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="My Profile">
      <img src="{{ request.user.profile_pic.url }}" class="w3-circle" style="height:31px;width:35px" alt="Avatar">  My Profile</a>
      <a href="{% url 'profile_page' %}" class="w3-bar-item w3-button w3-padding-large w3-display-top"  title="Home"><i class="fa fa-home" ></i></a>
      <a href="{% url 'pinax_messages:inbox' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Messages"><i class="fa fa-envelope"></i></a>
      <a href="{% url 'events' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Events"><i class="fa fa-calendar"></i></a>
              <a href="{% url 'news' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="News"><i class="fa fa-book"></i></a>
              <a href="{% url 'friends' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Friends"><i class="fa fa-users"></i></a>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-blue">{{ user.notifications.unread.count }}</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:500px">

          <div class="notificationContent" style="overflow-y: scroll; height: 100%;">
                                              <ul class="notification-box-list" style="margin:0; padding:0;list-style-type: none;">
                                                  {% render_notifications using user.notifications.active.prefetch for box %}
                                                  <li style="background-color: #ddd; padding: 5px; text-align: center;">
                                                      <a href="#" style="color: black;">All Notifications</a>
                                                  </li>
                                              </ul>
                                          </div>

        </div>
      </div>



        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="Logout"><i class="fa fa-sign-out"></i></a>

        {% endif %}
        <a href="{%url 'profile_settings'%}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="settings"><i class="fa fa-user"></i></a>

        <a href="{% url 'search'%}" class="w3-bar-item w3-button w3-right w3-padding-large w3-display-top"  title="search"><i class="fa fa-search"></i></a>

      </div>
    </div>

<!-- end navbar -->

<br><br><br><br>

<div class="container">

<div class="article post-content blog-body post_content content section">
<div class="wv-button-placeholder"></div>
<div class="article-header article-header--p2 article-header--standard">
<div class="article-header__share-like article-header__share-like--sticky  article-header__share-like--alt article-header__share-like--p2">
<div class="article-header__share-like-wrapper article-header__share-like-wrapper--alt">
<h1 class="article-headline__text">8 Things To Figure Out Before You Can Find True Love</h1>
</div>
</div>
</div>
<div class="article-text article-text--p2 article-text--c-red  article-text--standard">
<div class="article-text__inner">
<p>Often, people think that they have to learn how to master love when they're already in a relationship. In reality, who you are before you ever fall in love says much more about how your relationship will work out. You might be surprised to learn that most of the work of creating true love in your life is actually done before you ever meet &ldquo;the one.&rdquo;</p>
<p>I have watched&nbsp;<a href="http://www.carolinezwick.com/" target="_blank">my clients</a>&nbsp;and friends (and, not to mention, myself) find true love, and there are a few common themes in what comes beforehand.</p>
<p>Here are eight things you must master before you can invite real love into your life:</p>
<p><strong>1. Don&rsquo;t focus on finding a partner. Focus on building a great relationship with yourself.</strong></p>
<p>If you want anything in life to work out, you must have a trusting and loving relationship with yourself first. This is the primary focus in my life coaching work, because a positive self-image truly paves to road for any happiness, opportunity, and lasting joy in life.</p>
<p>Check in with yourself: how do you treat yourself? How do you speak to yourself? How do you hold yourself back and why?</p>
<p><strong>2. Replace anxiety with faith.</strong></p>
<p>People who have found real love, didn&rsquo;t get permanently caught up in anxiety, believing they will never find love. Rather, they remember to trust in divine timing. Negative, fearful thoughts only increase anxiety and an anxious mind never speaks nicely to the self.</p>
<p>Your thoughts create your reality, so by thinking negatively you're essentially manifesting what you don&rsquo;t want. Train yourself to think positively, expecting the good.</p>
<p><strong>3. Believe (and really believe) that you deserve to be loved.</strong></p>
<p>This is a frequent underlying (often unconscious) limiting belief that many of my clients carry with them: fear of not being good enough and not being love-worthy. It's the number one way in which many people sabotage themselves and their quest for love.</p>
<p>If you don&rsquo;t believe you're love-worthy, why would anyone else think that you are? You have to shed this limiting belief and stop sabotaging yourself with your thoughts about yourself if you want to find true love.</p>
<p><strong>4. Learn to receive the love that is offered to you.</strong></p>
<p>It's a bit counter-intuitive, but receiving is a much more vulnerable act of showing yourself to another person than giving. You are basically telling another person, &ldquo;You make me happy,&rdquo; which is both a very empowering statement to make and one that makes you feel vulnerable.</p>
<p>The question is: can you show gratitude and pleasure to other people openly and without feeling ashamed or guilty?</p>
<p><strong>5. Let go of your checklist of must-haves for your ideal partner.</strong></p>
<p>While it&rsquo;s good to know what you like and don&rsquo;t like, you also don&rsquo;t want to narrow your worldview and create stubborn tunnel vision. Must-have lists are formulated from a head space, but the head isn&rsquo;t what falls in love or has compassion during inevitable tough times.</p>
<p>Often, the qualities you will most appreciate and honor in your partner are the ones you didn&rsquo;t even know you needed. Loosen up and trust that life will send you the love of your life!</p>
<p><strong>6. Give people the benefit of the doubt.</strong></p>
<p>Are you interpreting every ever-so-slightly confusing signal you get from a potential mate as an offense to you and a red flag or a sign that they aren't trustworthy after all? Or are you able to stop yourself from over-analyzing everything and believe that the person you have met has their heart in the right place?</p>
<p>Believing in the good of another person, even if you have been disappointed, will make your life much more free and joyful. Don&rsquo;t let past experiences determine your future.</p>
<p><strong>7. Become an effective and honest communicator.</strong></p>
<p>You cannot selectively be a good communicator with some people and a terrible communicator with others. You are either someone who has the integrity and the courage to be heard and speak their mind honestly, or you are hanging on to a tendency to suppress, avoid, or silence communication.</p>
<p>The good news is that communication patterns can be worked on and improved pretty much every second of your waking life. Ask yourself, "Am I honest and sincere with myself? Am I expressing myself in full integrity to what I truly think and feel?"</p>
<p><strong>8. Look for good role models.</strong></p>
<p>Role models matter greatly, because we learn from observing others starting the moment we were born. Even if you parents weren&rsquo;t in the greatest marriage, you can look to other relationships that you admire and pick out the attributes you like the most.</p>
<p>When observing couples you respect try and identify exactly how the couples supports each other. How do they speak to one another? How do they show each other love? By asking these questions, you are essentially increasing your awareness for the kind of relationships that do work, rather than having a running list of things you don&rsquo;t want in your own love life.</p>
<p>In the comments I&rsquo;d love to hear from you: what can you do and improve upon now that will help make your future relationship bloom freely? I've seen hundreds of people work on themselves, change their expectations, and learn to embrace who they are. I know you can do this too!</p>
<p>Take the first step today!</p>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script id="free_accessibility_plugin_script" src="https://accessibility.f-static.com/site/free-accessibility-plugin/accessibility.min.js?lan=en&place=bottom-right&distance=50" crossorigin="anonymous"></script>
<script async src="https://widget.websitevoice.com/IwjsEyoQZAsokQXVUyDK1Q"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', 'IwjsEyoQZAsokQXVUyDK1Q');
  wvtag('widget-style', {
    backgroundColor: '#6D6D6D',

  });
</script>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src ="{% static 'notify/notifyX.js' %}"></script>
</body>
</html>
