<!-- templates/registration/password_reset_confirm.html -->


{% if validlink %}
 <div class="article post-content blog-body post_content content section">


<div class="wv-button-placeholder"></div>
<h1><p>Set a new password!</p></h1>
   <p hidden> Your password can't be too similar to your other personal information.
Your password must contain at least 8 characters.
Your password can't be a commonly used password.
Your password can't be entirely numeric.</p>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>

{% endif %}
 </div>
<div class="wv-button-placeholder"></div>
<script async src="https://widget.websitevoice.com/IwjsEyoQZAsokQXVUyDK1Q"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', 'IwjsEyoQZAsokQXVUyDK1Q');
  wvtag('widget-style', {
    showTime: true
  });
</script>
