{% load staticfiles %}
{% load static %}
{% load notification_tags %}
{%load index%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5
         elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the
         page via file:// -->

      <!--[if lt IE 9]>
      <script src = "//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!-- inclusion of extra head tags. -->
    {% block extrahead %}
        {% include_notify_js_variables %}
    {% endblock %}
    <!-- end -->
</head>
<body class="w3-theme-l5" onload="renderDate()">

<!-- navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large w3-padding-12">
    <a href="{% url 'view_profile' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="My Profile">
      <img src="{{ request.user.profile_pic.url }}" class="w3-circle" style="height:31px;width:35px" alt="Avatar">  My Profile</a>
      <a href="{% url 'profile_page' %}" class="w3-bar-item w3-button w3-padding-large w3-display-top"  title="Home"><i class="fa fa-home" ></i></a>
      <a href="{% url 'pinax_messages:inbox' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Messages"><i class="fa fa-envelope"></i></a>
      <a href="" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Events"><i class="fa fa-calendar"></i></a>
              <a href="{% url 'news' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="News"><i class="fa fa-book"></i></a>
              <a href="{% url 'friends' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Friends"><i class="fa fa-users"></i></a>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-blue">{{ user.notifications.unread.count }}</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:500px">

          <div class="notificationContent" style="overflow-y: scroll; height: 100%;">
                                              <ul class="notification-box-list" style="margin:0; padding:0;list-style-type: none;">
                                                  {% render_notifications using user.notifications.active.prefetch for box %}
                                                  <li style="background-color: #ddd; padding: 5px; text-align: center;">
                                                      <a href="#" style="color: black;">All Notifications</a>
                                                  </li>
                                              </ul>
                                          </div>

        </div>
      </div>



        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="Logout"><i class="fa fa-sign-out"></i></a>

        {% endif %}
        <a href="{%url 'profile_settings'%}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="settings"><i class="fa fa-user"></i></a>

        <a href="{% url 'search'%}" class="w3-bar-item w3-button w3-right w3-padding-large w3-display-top"  title="search"><i class="fa fa-search"></i></a>

      </div>
    </div>

<!-- end navbar -->







<!-- Left navbar -->
<!-- left navbar -->

<div class="w3-container" style="max-width:1400px;margin-top:80px">
  <div class="w3-row">
    <div class="col-sm-3 left-sidebar">

      <div class="w3-container">
        <div class="w3-card w3-center" width="190px">
          <p>Upcoming Events:</p>
          <div class="wrapper">
            <div class="calendar">
              <div class="month">
                <div class="prev" onclick="moveDate('prev')">
                  <span>&#10094;</span>
                </div>
                <div>
                  <h2 id="month"></h2>
                  <p id="date_str"></p>
                </div>
                <div class="next" onclick="moveDate('next')">
                  <span>&#10095;</span>
                </div>
              </div>
              <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
              </div>
              <div class="days">

              </div>
            </div>

          </div>

          <div class="w3-card w3-round w3-white w3-center">
            <p><strong>Holiday</strong></p>
            <p>Friday 15:00</p>
            <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
          </div>
        </div>
        <br>


                    {% for r_request in rec_friend_requests %}
        <div class="w3-card w3-round w3-white w3-center">

          <p>Friend Request</p>

  <p><a href="{% url 'view_profile_with_pk' pk=r_request.from_user.pk %}">{{ r_request.from_user.firstname }} {{ r_request.from_user.lastname }}</a></p>
  <img src="{{r_request.from_user.profile_pic.url}}" alt="Avatar" style="width:50%"><br>
<br>
  <div class="w3-row w3-opacity">
    <div class="w3-half">
      <small><a class='btn btn-primary' href="{% url 'change_friends' operation='add' pk=r_request.from_user.pk %}">Accept</a></small>
    </div>
    <div class="w3-half">
        <small><a class='btn btn-warning' href="{% url 'delete_friend_request' pk=r_request.from_user.pk %}">Ignore</a></small>
        <br>
    </div>
  </div>
</div>
<br>
{% endfor %}


      </div>
      <br>

    </div>
<!-- end left navbar -->

<!-- middle -->

        <div class="w3-col m7">
          <div class="w3-row-padding">
            <div class="w3-col m12">

              <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-padding">

  <button onclick="startConverting()" class="w3-button w3-right-align" id="re" > <i id= 'record' class=" fa fa-microphone"></i></button>

                  <form method="post" >  {% csrf_token %}



<input type="text"  class = "form-control"  name="post" value="{{post}}" placeholder="Write something to post..." ><i id='result' for="post_input"></i>
    <br>

    <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
  </form>

                  <hr>
                </div>
              </div>
            </div>
          </div>







          <h2>POSTS:</h2>

          {% for post in posts %}

          <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="{{post.user.profile_pic.url}}" alt="Avatar" class="w3-left w3-square w3-margin-right" style="width:70px">
            <span class="w3-right w3-opacity">{{ post.created }}</span><br>
             <hr class="w3-clear">
             <p><h3>{{ post.post }}</h3></p>
<span class="w3-left w3-opacity"><p><h5>Posted by {{ post.user.firstname }} {{ post.user.lastname }} </h5></p></span>
{% liked_by_user post.pk user.id as liked_by_user_flag %}
<span class="w3-right"> {{post.total_likes}} Like{{post.total_likes|pluralize}}  </span>




<form action ="{% url 'like_post'%}" method="post">
  {% csrf_token%}


   {% if liked_by_user_flag %}

             <button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom w3-right w3-margin-left" name="post_id" value="{{post.id}}"><i class="fa fa-thumbs-down"></i> Dislike</button>
{%else%}
<button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom w3-right" name="post_id" value="{{post.id}}"><i class="fa fa-thumbs-up"></i> Like</button>
{% endif %}
</form>
           </div>
  <br>



          {% endfor %}




        </div>
<!-- end middle -->

<!-- Right chat -->
<div class="w3-col m2">
  <div class="w3-row-padding">
    <div class="w3-card w3-round w3-white">
      <div class="w3-container w3-padding">
        <h3>My Friends</h3>
      </div>
      <div class="w3-row-padding">

        {% for friend in friends  %}

<!--{% if not friend.firstname == 'Support' %}-->
      {%if friend in online_users%}
        <div class="col-sm-12 chat-user online">
          {%else%}
          <div class="col-sm-12 chat-user">
            {%endif%}
          <a href="{% url "pinax_messages:message_user_create" user_id=friend.id %}">
            <img src="{{ friend.profile_pic.url }}" class="pull-left"/>
            &nbsp;

            {{friend.firstname}} {{friend.lastname}}



          </a>

        </div>
{%endif%}
        {%endfor%}

      </div>
    </div>
  </div>
<h2> test for online </h2>
{% for online in online_users%}
{{online.username}}
{%endfor%}

  <h2>Other People</h2>

{% for user in sent_friend_requests %}


             <a href="{% url 'view_profile_with_pk' pk=user.to_user.pk %}">
                 <h4>{{user.to_user.firstname}} {{user.to_user.lastname}}</h4>
             </a>

                    <small><a class="btn btn-warning" href="{% url 'cancel_friend_request' pk=user.to_user.pk %}">Cancel Request</a></small>
                      {%if not user.to_user in friends and user.to_user in sent_friend_requests %}
                      <a href="{% url 'view_profile_with_pk' pk=user.pk %}">
                          <h4>{{user.to_user.firstname}} {{user.to_user.lastname}}</h4>
                      </a>
                          <small><a class='btn btn-primary' href="{% url 'send_friend_request'  pk=user.pk %}">Add Friend</a></small>
                          {%endif%}
                    {% endfor %}
                    {% for user in users  %}
                    {% is_block_user user.pk request.user.id as is_block_user_flag %}
{%if not user.sent_friend_requests and not user in friends and not is_block_user_flag %}


                <a href="{% url 'view_profile_with_pk' pk=user.pk %}">
                    <h4>{{user.firstname}} {{user.lastname}}</h4>
                </a>
                    <small><a class='btn btn-primary' href="{% url 'send_friend_request'  pk=user.pk %}">Add Friend</a></small>


             {% endif %}

         {% endfor %}

         {% for user in sent_requests%}
         <ul>

              <li>{{ user }}</li>

            </ul>
            {%endfor%}
         <h2>Friends</h2>
         {% for friend in friends %}
         {% if  not friend.is_admin %}


             <a href="{% url 'view_profile_with_pk' pk=friend.pk %}">
                 <h4>{{ friend.firstname }} {{ friend.lastname }}</h4>
             </a>
             <a href="{% url 'change_friends' operation='remove' pk=friend.pk %}">
             <button type="button" class="btn btn-default">Remove Friend</button>
             </a>
             {% endif %}

         {% endfor %}

</div>
</div>
</div>
</div>

</div>

<!-- end footer -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src ="{% static 'notify/notifyX.js' %}"></script>
<script src="{% static 'scripts/calendar.js'%}"></script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script src="{% static 'scripts/stt2.js'%}"> </script>
<script src="{% static "scripts/calendar.js"%}"></script>
<script src="{% static "scripts/users_list.js"%}"> </script>
<script id="free_accessibility_plugin_script" src="https://accessibility.f-static.com/site/free-accessibility-plugin/accessibility.min.js?lan=en&place=bottom-right&distance=50" crossorigin="anonymous"></script>

<!-- script inclusions -->
{% block extrascripts %}
{% endblock %}
<!-- end script inclusions -->
   {% include 'first_app/footer.html' %}
</body>
</html>
