
<body>
  <div class="container">

<div class="article post-content blog-body post_content content section">
<div class="wv-button-placeholder"></div>

  <h3>Edmund Barton</h3>
  <p>Sir Edmund "Toby" Barton, GCMG, PC, KC (18 January 1849 – 7 January 1920) was an Australian politician and judge who served as the first Prime Minister of Australia, in office from 1901 to 1903. He resigned to become a founding member of the High Court of Australia, where he served until his death.

Barton was an early supporter of the federation of the Australian colonies, and after the retirement of Henry Parkes came to be seen as the leader of the federation movement in New South Wales. He was a delegate to the constitutional conventions, playing a key role in the drafting of a national constitution, and was one of the lead campaigners for federation in the subsequent referendums. In late 1900, despite the initial "Hopetoun Blunder", Barton was commissioned to form a caretaker government as Australia's first prime minister. His term began on 1 January 1901, the date on which federation occurred.

At the first federal elections in March 1901, Barton and the Protectionists won the most seats, but were well short of a majority. He was able to continue on as a prime minister by forming an alliance with the fledgling Labor Party, which held the balance of power. The Barton Government established a number of new national institutions, including the Australian Defence Force and the Commonwealth Public Service. It introduced nation-wide women's suffrage, and laid the foundations of the White Australia policy with the Immigration Restriction Act 1901.

Barton left politics in 1903 to become one of the three founding members of the High Court, which his government had created. He was succeeded as prime minister by Alfred Deakin. On the court, Barton was able to shape the judicial interpretation of the constitution he had helped write. Although he served 16 years on the High Court and less than three as prime minister, he is chiefly remembered for his political career.</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script id="free_accessibility_plugin_script" src="https://accessibility.f-static.com/site/free-accessibility-plugin/accessibility.min.js?lan=en&place=bottom-right&distance=50" crossorigin="anonymous"></script>
<script async src="https://widget.websitevoice.com/IwjsEyoQZAsokQXVUyDK1Q"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', 'IwjsEyoQZAsokQXVUyDK1Q');
  wvtag('widget-style', {
    backgroundColor: '#6D6D6D',
    showTime: true
  });
</script>
</div>
</body>
