{% load staticfiles %}
{% load static %}
{% load notification_tags %}
{%load index%}
<!DOCTYPE html>
<html lang="en">
<style type="text/css">
.footer{
  min-height: 100px;


  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 40px;

}
</style>
<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5
         elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the
         page via file:// -->

      <!--[if lt IE 9]>
      <script src = "//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!-- inclusion of extra head tags. -->
    {% block extrahead %}
        {% include_notify_js_variables %}
    {% endblock %}
    <!-- end -->
</head>

<body class="w3-theme-l5" onload="renderDate()">

<!-- navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large w3-padding-12">
    <a href="{% url 'view_profile' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="My Profile">
      <img src="{{ request.user.profile_pic.url }}" class="w3-circle" style="height:31px;width:35px" alt="Avatar">  My Profile</a>
      <a href="{% url 'profile_page' %}" class="w3-bar-item w3-button w3-padding-large w3-display-top"  title="Home"><i class="fa fa-home" ></i></a>
      <a href="{% url 'pinax_messages:inbox' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Messages"><i class="fa fa-envelope"></i></a>
      <a href="{% url 'events' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Events"><i class="fa fa-calendar"></i></a>
              <a href="{% url 'news' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="News"><i class="fa fa-book"></i></a>
              <a href="{% url 'friends' %}" class="w3-bar-item w3-button  w3-padding-large w3-display-top" title="Friends"><i class="fa fa-users"></i></a>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-blue">{{ user.notifications.unread.count }}</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:500px">

          <div class="notificationContent" style="overflow-y: scroll; height: 100%;">
                                              <ul class="notification-box-list" style="margin:0; padding:0;list-style-type: none;">
                                                  {% render_notifications using user.notifications.active.prefetch for box %}
                                                  <li style="background-color: #ddd; padding: 5px; text-align: center;">
                                                      <a href="#" style="color: black;">All Notifications</a>
                                                  </li>
                                              </ul>
                                          </div>

        </div>
      </div>



        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="Logout"><i class="fa fa-sign-out"></i></a>

        {% endif %}
        <a href="{%url 'profile_settings'%}" class="w3-bar-item w3-button  w3-right w3-padding-large w3-display-top " title="settings"><i class="fa fa-user"></i></a>

        <a href="{% url 'search'%}" class="w3-bar-item w3-button w3-right w3-padding-large w3-display-top"  title="search"><i class="fa fa-search"></i></a>

      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="col-sm-4 left-sidebar">
    </div>

        <div class="w3-col m4">


    {% for user in friends %}
    {% is_block_user user.pk request.user.id as is_block_user_flag %}
    {% if not is_block_user_flag %}





    <div class="w3-container w3-card w3-white w3-round w3-margin" ><br>
          <img src="{{user.profile_pic.url}}" alt="Avatar" class="w3-left w3-square w3-margin-right" style="width:65px;height:55px">
          {% if user.is_sponsor%}
          <span class="w3-right w3-opacity">Sponsor</span>
          {%endif%}

          <h4>{{user.firstname}} {{user.lastname}}</h4><br>

          <p>Location: {{user.city}}, {{user.country}} <br>
          Disabillity: {{user.disabillity}}<br>
          Hobbies: {{user.hobbies}}</p>


        <a href="{% url 'view_profile_with_pk' pk=user.pk %}">
          <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">View Profile</button>
          </a>





    {%endif%}



        {% shown_user user.pk request.user.id as shown_user_flag %}
          {% liked_user user.pk request.user.id as liked_user_flag %}
          {% if not shown_user_flag%}

            <form action ="{% url 'like_user'%}" class="" method="post">
              {% csrf_token%}


               {% if liked_user_flag %}

             <button type="submit" class="w3-button w3-theme-d2 " name="user_id" value="{{user.id}}"><i class="fa fa-thumbs-down"></i> Dislike</button> {{user.total_likes}} Like{{user.total_likes|pluralize}}
            {%else%}
            <button type="submit" class="w3-button w3-theme-d2 " name="user_id" value="{{user.id}}"><i class="fa fa-thumbs-up"></i> Like</button> {{user.total_likes}} Like{{user.total_likes|pluralize}}
            {% endif %}

          </form>
          <br>
        <a href="{% url "pinax_messages:message_user_create" user_id=user.id %}" class="w3-button w3-theme-d2">Message this user</a>


                {% block_user user.pk request.user.id as block_user_flag %}


                        <a href="{% url 'change_friends' operation='remove' pk=user.pk %}">
                       <button type="button" class="w3-button w3-theme-d2">Remove Friend</button>
                        </a>


                          {%if not block_user_flag%}
                          <a href="{% url 'block_user' operation='add' pk=user.pk %}">
                      <button type="button" class="w3-button w3-theme-d2">Block User</button></a>
                        {%else%}
                        <a href="{% url 'block_user' operation='remove' pk=user.pk %}">
                     <button type="button" class="w3-button w3-theme-d2">Unblock User</button>
                      </a>
                      {%endif%}
    {%endif%}
        </div>



{%endfor%}
<br>
<div class="footer">
<p class="">S-Date Social Network and Dating | 2019</p>
<P> Number of registered users: {{x}}</p>
  <p> Friends:{{y}} </p>
</div>
</div>
<div class="w3-col m4"></div>


    <!-- end footer -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src ="{% static 'notify/notifyX.js' %}"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>    <script id="free_accessibility_plugin_script" src="https://accessibility.f-static.com/site/free-accessibility-plugin/accessibility.min.js?lan=en&place=bottom-right&distance=50" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script id="free_accessibility_plugin_script" src="https://accessibility.f-static.com/site/free-accessibility-plugin/accessibility.min.js?lan=en&place=bottom-right&distance=50" crossorigin="anonymous"></script>

    <br>


    </body>

    </html>
