<!DOCTYPE html>
{% load static %}
<html >
  <head>
    <meta charset="utf-8">
    <title>S-Datte_Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/backg.css" %}"/>
</head>
  <body>
{% block body %}

    {{ home_page }}
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home_page' %}">S-DATE</a>
      <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'first_app:reg_page' %}">Sign Up</a>
  </li>
  <li class="nav-item">
    {%if user is authenticate %}
    <a class="nav-link" href="{% url 'profile_page'%}">Log in</a>
    {%else%}
<a class="nav-link" href="{% url 'user_login'%}">Log in</a>
{%endif%}
</nav>

<p></p>

<div class="container">
  <div class="jumbotron">
  <p><h1 class="display-4">About website</h1></p>
<!--  <div class="wv-button-placeholder"></div>-->
    <p class="lead">S-date, connecting, making friends, creating LOVE for all.</p>
    <br>
  <p>i was tired of listening to the latin bullshit dima wrote in here! sorry...</p>
</div>
</div>
</div>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script id="free_accessibility_plugin_script" src="https://accessibility.f-static.com/site/free-accessibility-plugin/accessibility.min.js?lan=en&place=bottom-right&distance=50" crossorigin="anonymous"></script>
<script async src="https://widget.websitevoice.com/IwjsEyoQZAsokQXVUyDK1Q"></script>

<!-- tts -->

<script async src="https://widget.websitevoice.com/IwjsEyoQZAsokQXVUyDK1Q"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', 'IwjsEyoQZAsokQXVUyDK1Q');
  wvtag('widget-style', {
    showTime: true
  });
</script>
  </body>
</html>
