{% load static%}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <style type="text/css">
    body  {
      background: url( '/static/images/pr.jpg' );
      background-size: cover;
      background-attachment: fixed;


    }
  .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>



    <title>Registration_Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/bulma.css" %}"/>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home_page' %}">S-DATE</a>
      <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'first_app:reg_page' %}">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'first_app:user_login'%}">Log in</a>
  </li>
</nav>
    <div class="container">
      {% if registered %}
      <h1> thank you for registering </h1>
      {% else %}

      <form class="form-signin" method="post">{% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Register an account</h1>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

  <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>

  <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>

  <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>

  <input type="text" name="firstname" id="inputFirstname" class="form-control" placeholder="First name" required>

  <input type="text" name="lastname" id="inputLastname" class="form-control" placeholder="Last name" required>

  <input type="text" name="country" id="inputCountry" class="form-control" placeholder="Country" required>

  <input type="text" name="city" id="inputCity" class="form-control" placeholder="City" required>

  <input type="date" name="birthdate" id="inputBirthdate" class="form-control" placeholder="Date of birth" required>

  <select  name="disabillity" id="inputDisabillity" class="form-control" placeholder="Select your disabillity" required>
    <option>other </option>
      <option>visual</option>
      <option>talk</option>
      <option>autism</option>
      <option>hands</option>
      <option>legs</option>
    </select>

  <input type="text" name="hobbies" id="inputHobbies" class="form-control" placeholder="Hobbies" required>

  <input type="file" name="profile_pic" id="inputProfilepic" class="form-control" placeholder="Profile picture">



        {% for field in registration_form %}
<p>
{% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
{% endfor %}
{% if registration_form.non_field_errors %}
<div style="color: red">
<p>{{registration_form.non_field_errors}}</p>
</div>

{% endif %}
<p>
<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</p>
</form>
      <!--<form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ registration_form.as_p}}



    <div class="form-row">
    <div class="form-group col-md-6">
    <label for="inputName">First Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Firs Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLast">Last Name</label>
            <input type="text" class="form-control" id="inputLast" placeholder="Last Name">
          </div>
          </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Country</label>
    <input type="text" class="form-control" id="inputCountry" placeholder="Country">
  </div>
  <div class="form-group">
    <label for="inputAddress">City</label>
    <input type="text" class="form-control" id="inputCity" placeholder="City">
  </div>
  <div class="form-group">
    <label for="select">your disable</label>
    <select class="form-control" id="selectname="choose">
      <option>First </option>
      <option>Sec</option>
      <option>bla</option>
      <option>blablabla</option>

    </select>

  </div>
  <div class="form-group">
    <label for="inputhob">Hobbies</label>
    <input type="text" class="form-control" id="inputhob" placeholder="">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Photo</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
  </div>
-->

{% endif%}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script id="free_accessibility_plugin_script" src="https://accessibility.f-static.com/site/free-accessibility-plugin/accessibility.min.js?lan=en&place=bottom-right&distance=50" crossorigin="anonymous"></script>

  <!-- tts -->
<script async src="https://widget.websitevoice.com/IwjsEyoQZAsokQXVUyDK1Q"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', 'IwjsEyoQZAsokQXVUyDK1Q');
  wvtag('widget-style', {
    backgroundColor: '#6D6D6D'
  });
</script>
  </body>
</html>
